# STORAGE MODULE — Variables (GCP)

variable "project_name" { type = string }
variable "environment" { type = string }
variable "project_id" { type = string }
variable "region" { type = string }

variable "enable_versioning" {
  type    = bool
  default = true
}

variable "labels" {
  type    = map(string)
  default = {}
}