# MONITORING MODULE — Variables (GCP)

variable "project_name" { type = string }
variable "environment" { type = string }
variable "project_id" { type = string }
variable "notification_email" {
  type    = string
  default = ""
}
variable "labels" {
  type    = map(string)
  default = {}
}