# KUBERNETES MODULE — Variables (Azure)

variable "project_name" { type = string }
variable "environment" { type = string }
variable "location" { type = string }
variable "resource_group_name" { type = string }
variable "subnet_id" { type = string }

variable "kubernetes_version" {
  type    = string
  default = "1.29"
}

variable "node_vm_size" {
  type    = string
  default = "Standard_D4s_v3"
}

variable "node_count" {
  type    = number
  default = 2
}

variable "node_min_count" {
  type    = number
  default = 1
}

variable "node_max_count" {
  type    = number
  default = 5
}

variable "tags" {
  type    = map(string)
  default = {}
}